body {
   
    box-sizing: border-box;
    font-family: 'Roboto';
    width: 340px;
    margin-left: auto; 
    margin-right: auto; 
    @include responsive;  
}

// loading spinner
.container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    &__texte {
        font-weight: bolder;
        font-size: $size-titre;        
        grid-row: 1;
        grid-column: 1;
        align-self: flex-start;
        margin-top: 10rem;
        &--sphere {  
            overflow: hidden; 
            width: 10rem;
            height: 10rem;
            margin: 100px auto;
            font-size: 1.3rem;
            border-radius: 50%;
            border: 3px solid $clr-tertiaire; 
            border-top-color: $clr-primaire;                 
            animation: chargement $delai-charg $retard-charg ease-in-out 3  both;                                                   
        }
    }        
  
    &__page {
        animation: apparition-page $delai-app-page $retard-app-page ease-in-out backwards ;        
        z-index: 1;
        grid-row: 1;
        grid-column: 1;
    }
}

// l'entête
.header {
    text-align: center;
    background-color: $clr-gris;
    padding-bottom: 1rem;
    &__logo {
        background: $clr-white;
        &--fond {
            height: 1.5rem;
            margin:auto;
            padding: 5px;
            width: $width-logo;
            & img {
                @include taille-photo;
            }
        }
    }
    &__loc {
        margin-left: 0px;
        margin-right: 0px;
        background-color:rgba(109, 109, 109, 0.1);
        border-top: 3px solid rgba(109, 109, 109, 0.2);
        padding: .5rem;
        a {
            text-decoration: none;
            color: black;
        }
        i {
            margin:5px;
        }       
    }
     
    &__presentation--bouton {
        @include btn-expl-cmder;
       
    }

    h1 {
        font-size: $size-titre;
    }    

}

// les menus
.nav {   
    margin: auto;
    &__titre {
        font-size: $size-titre;
        margin-left: $marge-gauche-titre;
    }
    &__fonct {
        position: relative;
         &--cercle {
            position:absolute;
            left:1rem;
            top: 15px;
            width: 20px;
            height: 20px;
            line-height: 20px;
            border-radius: 50%;
            background-color: $clr-primaire;
            text-align: center;
            font-size: 16px;
            margin: auto;
            color:$clr-white; 
            z-index: 2;            
        }
        &--texte {
            @include bouton-fn(18rem);
            position: relative;
            z-index: 1;
            &:active { 
                &::after {
                    opacity: 1;
                }
                i {
                    color: $clr-primaire;
                }
               
            }
            &::after {
               @include pseudo-elem-pos;
               border-radius: 1rem;
            }
             
        }
    }

}

// les 4 restaurants
.restaurant {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $clr-gris;
    &__titre{
        align-self: flex-start;
        margin-left:$marge-gauche-titre;
       // font-size: $size-titre;
    }

    &__lapalette {
        @include cadre-photo;
        &--dimphoto {
            @include dimension-photo; 
            img {
                @include taille-photo;
            }
            position: relative;
        }
        &--dimphoto::after{
            @include pseudo-elem-nouv;
        }
        &--titre {
            @include s-titre-photo;
        }
        &--texte {
            @include text-photo;
        }
        i {
            @include iconcoeur; 
            
        }
    }
     
     &__lanote {
       @include cadre-photo;
          &--dimphoto {           
            @include dimension-photo;          
             img {
               @include taille-photo;
            } 
            position: relative;
        }
        &--dimphoto::after{
            @include pseudo-elem-nouv;
        }
        &--titre {
           @include s-titre-photo;
        }
        &--texte {
           @include text-photo;
        }
        i {
            @include iconcoeur;
        }
    }

    &__lafrancaise {
        @include cadre-photo;
           &--dimphoto {           
             @include dimension-photo;          
              img {
                @include taille-photo;
            } 
        }
        &--titre {
            @include s-titre-photo;
         }
        &--texte {
            @include text-photo;
        }
        i {
            @include iconcoeur;
        }
    }

    &__ledelice {
        @include cadre-photo;
           &--dimphoto {           
             @include dimension-photo;          
              img {
                @include taille-photo;
            } 
        }
        &--titre{
            @include s-titre-photo;
        }
        &--texte{
            @include text-photo;
        }
        i {
            @include iconcoeur;
        }
    }      
           
}

// le pieds de page
.pieds {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    background-color: $clr-gris-clair;
    color: $clr-white;
    &__logo {
     font-family: 'Shrikhand';
     margin: $marge-text-pieds;
    }
    &__list{
        list-style-type: none;
        padding: 0px;
        margin: $marge-text-pieds;
        &--elem a {
            text-decoration: none;
            color: $clr-white;
            i {
                margin: $marge-dessous-text-photo;
            }
           
        }
    }
}
