$delai: 1000ms;
$retard-app:200ms;
$retard-cont: $delai + $retard-app;
$mouv:1rem;
$nums--epd:3;
$delai-charg:1500ms;
$retard-charg:400ms;
$delai-app-page:500ms;
$retard-app-page: ($delai-charg + $retard-charg) * 3;

@keyframes apparition-menu {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes contenu-menu {
    0% {
        opacity: 0;
        transform: translateY($mouv);    
    }    
    100% {
        opacity: 1;
        transform: translateY(0);       
    }
}

@keyframes chargement {       
    0% {      
         transform: rotate(0);
         opacity:1;
    }       
   
    100%{        
        transform: rotate(360deg);
        opacity: 0;
    } 
      
}

@keyframes apparition-page {
    from {        
        opacity:0;
       }    
       to {           
        opacity: 1;
    }    
}
