//@font-face { font-family: 'shrikhand';
    //src: url('css/polices/shrikhand/Shrikhand-Regular.tff') format('truetype');
   // font-weight: normal;
    //font-style: normal;
//}

//@font-face { font-family:'Roboto';
    //src: url('polices/Roboto/Roboto-Thin.tff')format('truetype');
    //src: url('polices/Roboto/Roboto-Bold.tff'),
    //     url('polices/Roboto/Roboto-Black.tff'),
 //      url('polices/Roboto/Roboto-Light.tff'),
 //      url('polices/Roboto/Roboto-Medium.tff'),
 //      url('polices/Roboto/Roboto-Regular.tff');
 // font-weight: normal;
 // font-style: normal;
//}