.hearder-4-restos {
 background-color: blue;
    &__logo {
         display: flex;
        a {
            text-decoration: none;
            display: block;
            i {
                float:  right;
            }
        }

        &--fond {
            width: 100px;
            img {
             width: 100%;
             height:auto;
            }
        }
    }
}
//section resto la palette 

.restos {
    background-color: $clr-gris;
    padding-bottom: 5rem;

    &__titre {
        margin: $size-ctr-btn-resto;
        i {
            float: right;
        } 
    }

    &__photo {
        overflow: hidden;
        width: 100%;
        height: 190px;             
        margin-bottom: 2rem;
        position: relative;
        img {
            @include taille-photo;
        }
    }
    
    &__menu {
        // sous-titre menu 
        h4 {
            margin: $size-ctr-btn-resto;
            font-weight: normal;
            font-size: normal;
        }
         //  contoure entree plats desserts
        &--epd {
            margin-top:2rem;
         
            .contour-bouton-resto {
                border-top-left-radius:  $size-ctr-btn-resto;
                border-top-right-radius:  $size-ctr-btn-resto;
                background-color: $clr-white;
                border-radius:  $size-ctr-btn-resto;
                margin: $size-ctr-btn-resto;
                padding:  $size-ctr-btn-resto;
                font-weight: bold;
                font-size: 1rem;
                &__text{
                     font-weight: normal;
                     font-size: 14px;
                }
                &__prix { 
                    float: right;
                    
                }
            }

        }
        // bouton commander 
        &--cmder {
            @include btn-expl-cmder;
            text-align: center;
        }
    }
}