// l'entête des 4 restaurants
.header-4-restos {
    padding-top: .5rem;
   
    &__logo {
        display: flex;
        flex-direction: row;
        padding-left: 1rem;
        padding-right: 1rem;              
        a {
            text-decoration: none;
            display: block;
            i {
                float: left;
                color: $clr-gris-clair;
            }
        }

        &--fond {
            margin:auto;
            width: $width-logo;                 
            img {
             width: 100%;
             height:auto;
            }
        }
        
    }
}
//section  les 4 restaurants

.restos {
    background-color: $clr-gris;
    padding-bottom: 5rem;

    &__photo {
        overflow: hidden;        
        height: 190px;             
        position: relative;   
        @include tablette-photo-only(350px);
        
        @include desktop-photo-only(450px);
        img {
            @include taille-photo;
        }

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 340px;
            height: 30px; 
            background-color:$clr-gris;
            border-top-left-radius: $curve-pseu-photo;
            border-top-right-radius: $curve-pseu-photo;
            @include tablette-photo-only(60px);
            @include desktop-photo-only(70px);
        }
    
    }
    

   
    &__titre {
        margin: $size-ctr-btn-resto;
        font-style: italic;
        font-family: 'Shrikhand';
        i {
            float: right;
            @include iconcoeur;
        } 
    }

   
    &__menu {                
        overflow: hidden;
        @for $i from 1 through $nums--epd {
            &--epd:nth-child(#{$i}) {
                animation: apparition-menu  $retard-app ease-out backwards;
                animation-delay: $delai *$i;
                margin-top:2rem;
                // sous-titre menu 
                h4 {
                    margin: $size-ctr-btn-resto;                               
                    position: relative;
                    &::after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left:0;
                        border-bottom: 3px solid $clr-tertiaire;
                        width: 2.5rem;
                        transform: translate(0, .2rem);
                        z-index: 1;
                    }
                }
               
               
                //  contoure entree plats desserts
                .contour-bouton-resto {
                    border-top-left-radius:  $size-ctr-btn-resto;
                    border-top-right-radius:  $size-ctr-btn-resto;
                    background-color: $clr-white;
                    border-radius:  $size-ctr-btn-resto;
                    margin: $size-ctr-btn-resto;
                    padding:  $size-ctr-btn-resto;
                    font-weight: bold;
                    font-size: 1rem;
                    height: 36px;
                    cursor: pointer;
                    position: relative;
                    overflow: hidden;
                    animation: contenu-menu $retard-cont ease-out both;
                    animation-delay: $delai * $i;
                    &__text{
                        font-weight: normal;
                        font-size: 14px; 
                        padding-top: 2px;                       
                    }
                    &__prix { 
                        float: right;
                    
                    }
                    &:hover  {
                        height: 36px;
                        
                        & > .contour-bouton-resto__text {
                            width: 230px;
                            height: 17px;
                            transition: width 500ms ease-out;
                            display: inline-block;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            @include point-suspension-inherit;
                        }
                        & > .contour-bouton-resto__icon {
                            transform: translateX(0);
                            opacity: 1;
                            & > i {
                                transform: rotate(15deg);
                            }
                        }
                    
                        & > .contour-bouton-resto__prix{
                            transform: translateX(-3.5rem);
                        }
                    }
                    & .contour-bouton-resto__icon {
                        @include check-valide;
                        transform: translateX(3.5rem);
                        
                        opacity: 0;
                        transition: transform 500ms ease-out;
                        
                    }
                    & i {
                        transform: rotate(-120deg);
                        transition: transform 300ms 150ms ease-out;
                    }
                
                    & .contour-bouton-resto__prix {
                        transition: transform 500ms ease-out;
                    }

                    & .contour-bouton-resto__text {
                        display: inline-block;
                        width: 263.95px;
                        height: 17px;
                        white-space: nowrap;
                        transition: width 500ms 250ms ease-out;
                    }
            
                   
                }
               
            }

        }                    
      
        // bouton commander 
        &--cmder {
            margin-top: 2rem;
            .btn {
                @include btn-expl-cmder;
                text-align: center;
                font-size: 1.2rem;
            }
        }
    }
}
   