@mixin bouton-fn($largeur) {
    width: $largeur;
    height: 3rem;
    border-radius: 1rem;    
    background-color: $clr-gris;
    margin: 1.5rem;
    padding-left: .5rem;
    box-sizing: border-box;
    box-shadow: 0rem 0rem .5rem rgba(#181818, 0.5);
    .fas {
        margin: 1rem; 
    }
    cursor: pointer;

   
}



@mixin cadre-photo($deskto:$width-photo) {
    width: $deskto;
    height: 250px;
    border-radius: 10px;       
    margin: 10px 10px 10px 10px; 
    box-shadow: 0px 4px 4px $clr-gris-clair; 
}

@mixin dimension-photo($deskto:$width-photo){
    overflow: hidden;
    width: $deskto;
    height: 190px;
    border-top-left-radius: .8rem;
    border-top-right-radius: .8rem;        
}

@mixin taille-photo {
    width:100%;
    height:auto;
}

@mixin cadre-photo-verticale {
    width: 210px;
    height: 500px;
    border-radius: 10px;       
    margin: 3px; 
    box-shadow: 0px 4px 4px $clr-gris-clair;
    padding: 2px;
    
}
@mixin dimension-photo-verti{
    overflow: hidden;
    width: 210px;
    height: 420px;
    border-top-left-radius: .8rem;
    border-top-right-radius: .8rem;        
}
    
@mixin taille-photo-verti {
    width:auto;
    height:100%;    
}
    
@mixin check-valide{
    width: 3.5rem;
    height: 52px;
    line-height: 52px;
    margin: auto;
    color:$clr-white;
    background-color: $clr-tertiaire;
    font-size: 20px;
    text-align: center;
    border-top-right-radius: $size-ctr-btn-resto;
    border-bottom-right-radius: $size-ctr-btn-resto;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
}

@mixin iconcoeur {
    float: right;
    margin:$marge-dessous-text-photo; 
    position: relative;
    z-index: 1;
    font-weight: normal;
    cursor:pointer;
    &:hover {
       color: $clr-primaire;
        &::after{
            opacity:1;
        }
    }

    &::after {
        content: "\f004";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        opacity: 0;  
        font-weight: bolder;
        background:linear-gradient( to top, $clr-primaire 25%, $clr-secondaire 75% );
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text; 
        background-clip: text;        
        transition: opacity 500ms ease-out;   
        
    }     
}

@mixin s-titre-photo {
    font-size: 18px;
    margin: $marge-dessous-text-photo;
}


@mixin text-photo {
    margin: $marge-dessous-text-photo;
}


@mixin btn-expl-cmder {
    color: $clr-white;
    background: linear-gradient( to top, $clr-primaire 25%, $clr-secondaire 75% );
    border-radius: 100rem;
    box-sizing:border-box;
    width: 12rem;
    height: 3rem;
    line-height: 3rem;
    margin: auto; 
    cursor: pointer;
    position: relative;
    z-index: 1;
    &:hover {
        &::after{
            opacity:1;
        }        
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        opacity: 0;    
        transition: opacity 150ms;   
        background: radial-gradient(circle, lighten($clr-secondaire, 0) 5%, darken($clr-primaire, 5) 100%);
        border-radius: 100rem;
        box-shadow: 0rem 0rem .5rem $clr-primaire;
    }
   
          
}

@mixin pseudo-elem-pos{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0;    
    transition: opacity 150ms;   
    background-color: rgba( $clr-primaire, 0.2);
    
}

  // responsive tabelette et Desktop
@mixin responsive {
    @media screen and( min-width: map-get($breakpoints, tablette)) {
        // tablette
        width: 700px;

        @each $selecteur in $selecteurs {
            .#{nth($selecteurs, 1)}__presentation--bouton {
                margin: auto;
        
            } 
        
            .#{nth($selecteurs, 2)} { 
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 40px 1fr 1fr; 
              
                &__fonct:nth-child(2){
                    grid-row:2 ;
                    grid-column: 1;
                }
                &__fonct:nth-child(3){
                    grid-row:2 ;
                    grid-column:2;
                }
                &__fonct:nth-child(4){
                    grid-row:3 ;
                    grid-column: 1;
                }
            }
        
        
        
            .#{nth($selecteurs, 3)} {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 80px 1fr  1fr;
                padding: 1.2rem;
                    &__lapalette {
                    grid-row: 2;
                    grid-column: 1;
                }
                    &__lanote {
                    grid-row: 2;
                    grid-column: 2;
                }
                    &__lafrancaise {
                    grid-row: 3;
                    grid-column: 1;
                }
                    &__ledelice {
                    grid-row: 3;
                    grid-column: 2;
                }
            
            }

            .#{nth($selecteurs, 4)}__list {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                height: 6rem;              
                &--elem {
                    font-size: 15px;
                    margin-top: 2.5rem;
                    a i{
                        margin: 0 5px 0 5px;

                    }
                } 
                &--elem:nth-child(2) {
                    justify-self: center;
                } 
                &--elem:nth-child(3) {
                    justify-self: center;
                }                                                                                                            
            }
        }
            
        

    }   
     // Desktop 
    @media screen and( min-width: map-get($breakpoints, desktop)) {
        
        width:900px;
            // nav Desktop

        @each $selecteur in $selecteurs {
        
            .#{nth($selecteurs, 2)} { 
                display: grid;
                grid-template-rows: 60px 1fr; 
                grid-template-columns: 1fr 1fr 1fr;
                padding: 0px;
                &__titre {
                    justify-self: start;
                    margin-left: 2px;
                    font-size: $size-titre-desktop;
                    margin-bottom: 1.5rem;
                }
                &__fonct {
                    width: 300px;
                    height: 150px;
                    &--texte {
                        @include bouton-fn(16rem);
                    }
                }
                 
                &__fonct:nth-child(4){
                    grid-row:2;
                    grid-column: 3;
                    margin:0px;
                   
                }   
               
            }            
        
            .#{nth($selecteurs, 3)} {
                display: grid;               
                grid-template-rows: 80px 1fr;
                grid-template-columns: 1fr 1fr 1fr 1fr;  
                justify-items: center; 
                padding: inherit; 
               padding: $marge-photo-verticale;
                 
                &__titre {
                    justify-self: start;
                    margin-left:2px;
                    font-size: $size-titre-desktop;
                }      
                &__lapalette {
                    grid-row: 2;
                    grid-column: 1;
                    @include cadre-photo-verticale;
                    &--dimphoto {
                        @include dimension-photo-verti;
                        img {
                            @include taille-photo-verti;
                        }  
                    }
                }
                &__lanote {
                    grid-row: 2;
                    grid-column: 2;
                    @include cadre-photo-verticale;
                    &--dimphoto {
                        @include dimension-photo-verti;
                        img {
                            @include taille-photo-verti;
                        }  

                    }
            
                }
                &__lafrancaise {
                    grid-row: 2;
                    grid-column: 3;
                    @include cadre-photo-verticale;
                    &--dimphoto {
                        @include dimension-photo-verti;
                        img {
                            @include taille-photo-verti;
                        }  
                    }
            
                }
                &__ledelice {
                    grid-row: 2;
                    grid-column: 4;
                    @include cadre-photo-verticale;
                    &--dimphoto {
                        @include dimension-photo-verti;
                        img {
                            @include taille-photo-verti;
                        }  
                    }   
            
                }
            
               
            }

            .#{nth($selecteurs, 4)}__list {                
                &--elem {
                    font-size: 16px;                   
                }                                                                                                  
            }           
        }
    }
              
}

@mixin tablette-photo-only($hauteurtblte) {
    @media screen and(min-width:768px) {
        width:$larg-photo-tablette; 
        height: $hauteurtblte;            
    }
}

@mixin desktop-photo-only($hauteurdsk) {
    @media screen and(min-width:991px) {
        width: $larg-photo-desktop; 
        height: $hauteurdsk;            
    }    
}
@mixin pseudo-elem-nouv {
    content: "Nouveau";
    position: absolute; 
    top:10px ;
    right: 10px; 
    padding: .2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $clr-tertiaire;
    color: green;
}

@mixin point-suspension-inherit {
    @media screen and( min-width: map-get($breakpoints, tablette)) {
        // tablette
        width: inherit;
        height: inherit;
    }
    @media screen and( min-width: map-get($breakpoints, desktop)) {
        // desktop
        width: inherit;
        height: inherit;
    }
}


