// couleurs
$clr-primaire:#9356DC;
$clr-secondaire:#FF79DA;
$clr-tertiaire:#99E2D0;
$clr-white:#ffff;
$clr-gris: #F2F2F2;
$clr-gris-clair:#1C1A19;
$size-titre: 1.3rem;
$size-titre-desktop:1.3rem;
$marge-gauche-titre: 1.2rem;
$width-photo: 300px;
$width-logo:150px;
$marge-dessous-text-photo:5px 5px 0px 5px;
$marge-text-pieds:5px 5px 5px 10px;
$larg-photo-tablette:700px;
$larg-photo-desktop:900px;
$curve-pseu-photo: 7rem;
$size-ctr-btn-resto: .5rem;
$marge-photo-verticale:0 3px 1rem 3px;

// maps
$breakpoints: ( tablette:768px, desktop:992px);

$selecteurs:( header, nav, restaurant, pieds);





 


